
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 100vh;
}

.img {
    padding: 30px;
    width: 750px;
    text-align: center;
}

.neww {
    font-size: 30px;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 19, 19);
    text-shadow: 2px 2px 5px red;
}

.message {
    font-size: larger;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-container {
    margin-top: 20px;
}
.error-caption {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgb(127, 125, 125);
    color: rgb(70, 78, 70);
}

.error-message {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error-image {
    display: block;
    margin: 0 auto;
}